<main>
    <header>
        <h1>Note ToDo</h1>
    </header>
    <form id="createNote" method="POST">
        <div>
            <label for="title">Titel</label>
            <input name="title"  placeholder="My Note Title" required autofocus>
        </div>
        <div>
            <label for="description">Beschreibung</label>
            <textarea name="description" type="text" placeholder="yolo" required></textarea>
        </div>
        <div>
            <label for="importance">Wichtigkeit</label>
            <input name="importance" type="number" min="1" max="5" step="1" value="1" required>
        </div>
        <div>
            <label for="dueDate">Fertig bis</label>
            <input type="date" name="dueDate" value="{{dueDate}}" required>
        </div>
        <div>
            <label for="done">Erledigt</label>
            <input class="done" name="done" type="checkbox">
        </div>
        <div class="submit">
            <input class="button" type="submit" value="Anlegen">
            <a href="/" class="button">Abbruch</a>
        </div>
    </form>
</main>

