<h2>Note ToDo</h2>
<form id="createNote">
    <div>
        <label for="title">Title</label>
        <input name="title" type="email" placeholder="Your username is your email address" required autofocus>
    </div>
    <div>
        <label for="description">Beschreibung</label>
        <input name="description" placeholder="yolo" required>
    </div>
    <div>
        <label for="importance">Wichtigkeit</label>
        <input name="importancen" placeholder="swag" required>
    </div>
    <div>
        <label for="dueDate">Fertig bis</label>
        <input name="dueDate" placeholder="cool beans" required>
    </div>
    <div>
        <label for="done">CHECKBOX PLACEHOLDER ERLEDIGT</label>
        <input name="done" placeholder="caramba" required>
    </div>
    <div>
        <input name="submitNote" type="submit" value="Anlegen">
        <input name="submitNote" value="Abbruch">

    </div>
</form>
