<main>
    <header>
        <h1>Edit Note</h1>
    </header>
    <form id="createNote" method="POST">
        {{#with note}}
        <div>
            <label for="title">Titel</label>
            <input name="title" value="{{title}}" required autofocus>
        </div>
        <div>
            <label for="description">Beschreibung</label>
            <textarea type="text" name="description"required>{{description}}</textarea>
        </div>
        <div>
            <label for="importance">Wichtigkeit</label>
            <input name="importance" type="number" min="1" max="5" step="1" value="{{importance}}" required>
        </div>
        <div>
            <label for="dueDate">Fertig bis</label>
            <input name="dueDate" value="{{dueDate}}" required>
        </div>
        <div>
            <label for="done">Erledigt</label>
            <input class="done" name="done" type="checkbox" {{#if done}}checked{{/if}}>
        </div>
        <div>
            <input name="submitNote" class="button" type="submit" value="Speichern">
            <a href="/" class="button">Abbruch</a>
        </div>
        {{/with}}
    </form>
</main>

