<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta name="description" content="Notizen">
    <meta name="application-name" content="Wed2Testat">
    <meta name="author" content="Boillat Yves, Schumacher Lorenzo">

    <link rel="stylesheet" href="/stylesheets/styles.css">
    {{#if config.style}}
        <link rel="stylesheet" href="/stylesheets/dark.css" />
    {{else}}
        <link rel="stylesheet" href="/stylesheets/light.css" />
    {{/if}}
</head>

<body>
    {{{body}}}
</body>
</html>