body {
    background: #1c1c1c;
    color: limegreen;
}

a {
    color: black;
}

button,
.button {
    background: #372E29;
    color: limegreen;
}

button:hover,
.button:hover {
    background: #372727;
}

.active {
    background: #372E29;
}

.card_header {
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 1px rgba(0, 0, 0, .1), inset 0 -10px 20px rgba(0, 0, 0, .1);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    background-color: #372727;;
}

.card_box {
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 1px rgba(0, 0, 0, .1), inset 0 -10px 20px rgba(0, 0, 0, .1);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    background-color: #372727;;
}

input,
textarea,
input::placeholder,
textarea::placeholder {
    background-color: #372E29;
    color: limegreen;
}